// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.text-purple {
    color: #4a3f76 !important;
}

.gold {
    background-color: #daba00 !important;
}

.silver {
    background-color: #adadad !important;
}

.bronze {
    background-color: #A77044 !important;
}

.purple {
    background-color: #4a3f76 !important;
}
